body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main_container{
  width: 100%;
}
.form_container{

}
.tokenHolder{
  height: 70px;
  /* background-color: blue; */
  margin-top: 1rem;
  overflow-y: scroll;
}